.punchout_order_meta {
    display: flex; /* Flex container */
    justify-content: space-between;
    width: 100%; /* Ensure full width */
}

.order_meta_column p {
 
    line-height: 1.5; /* Adjust line height for better readability */
    font-size: 14px; /* Set a suitable font size */
}


.order_meta_column:last-child {
    margin-right: 0; /* No margin on the last column */
}
